<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">

    <title>Category</title>
</head>

<body>

<div class="conteiner">

    <div th:replace="elements :: header"></div>
    <div th:replace="elements :: navbarCategories"></div>

    <div class="leftContent" style="display:inline-block">
        <div class="categoryBody">
            <h4 th:text="${selected.getTitle()}">Category name</h4>
            <img th:src="${selected.getImg()}" style="width:600px;height:150px"></br>
        </div>
        <span style="padding-top: 5px; padding-left: 10px; text-align: center; font-size: 20px; color: black"
              th:text="${selected.getDescription()}"> desc of category</span>

        <ul>
            </br>
            <li th:each="recipe: ${selected.recipeList}">
                <a style="color: #ffa243" th:href="|/category/recipe/${recipe.getId()}|"
                   th:text="${recipe.getName()}"></a></br>
            </li>
        </ul>
        <button type="button" class="btn btn-outline " style="color: #ffa243; float: right">
            <a th:href="|/add?id=${selected.getId()}|">♥ Dodaj przepis ♥</a></button>
    </div>

    <div class="rightContent" style="display:inline-block">
        <div th:replace="elements :: topRecipies"></div>
    </div>

</div>


</body>
</html>