<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>CookBook</title>
</head>

<body>

<div class="conteiner">

    <div th:replace="elements :: header"></div>
    <div th:replace="elements :: navbarCategories"></div>

    <div class="leftContent" style="display:inline-block">
        <div class="bar">
            <h4>NAJNOWSZE PRZEPISY</h4>
        </div>
        <div class="newestRecipies" >
            <div class="new" style="display:inline-block" th:each="newRecipe : ${newRecipes}">
                <img th:src="${newRecipe.getPicture()}" width="220px">
                <a style="color: #ffa243" th:href="|/category/recipe/${newRecipe.getId()}|" th:text="${newRecipe.getName()}">txt</a>
            </div>
    </div>
    </div>

    <div class="rightContent" style="display:inline-block">
        <div th:replace="elements :: topRecipies"></div>
    </div>


</div>

</body>
</html>