<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">

    <title>Category</title>
</head>

<body>

<div class="conteiner">

    <div th:replace="elements :: header"></div>
    <div th:replace="elements :: navbarCategories"></div>

    <div class="leftContent" style="display:inline-block">
        <div class="bar">
            <h4>Wszystkie przepisy</h4>
        </div>
        <div>
            <ul>
                <li th:each="recipe: ${recipes}">
                    <a th:text="${recipe.getName()}"
                       th:href="|/category/recipe/${recipe.getId()}|">name</a>
                    <span style="color: green; font-size: 13px; font-style: italic;" th:href="|/recipe/${recipe.id}|" th:text="|Liked:${recipe.getMark()}|"></span>

                </li>

            </ul>
        </div>

        <button type="button" class="btn btn-outline " style="color: #ffa243; float: right">
            <a th:href="|/addNoCat|">♥ Dodaj przepis ♥</a></button>
    </div>
    <div class="rightContent" style="display:inline-block">
        <div th:replace="elements :: topRecipies"></div>
    </div>

</div>


</body>
</html>